.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #93c5fd;
  height: 100vh;
}

.capitals-container {
  background-color: #f8fafc;
  border-radius: 15px;
  width: 96%;
  padding: 20px;
}

.heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
}

.question-container {
  display: flex;
  align-items: center;
}

.capital-select {
  background-color: #f8fafc;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
  width: 100px;
  height: 40px;
  border: 1px solid #cbd2d9;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  outline: none;
}

.option {
  color: #323f4b;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
}

.question {
  color: #000000;
  font-family: 'Roboto';
  font-size: 15px;
  margin-left: 10px;
}

.country {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
}
